.summary {
    text-align: center;
    color: rgb(246, 242, 242);
    justify-content: space-between;
    display: block;
    margin: auto;
    margin-top: -10rem;
    width: 90%;
    max-width: 40rem;
    border-radius: 14px;
    border: 1px solid rgb(14, 11, 11);
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgb(39, 38, 38);
    position: relative;
    background-color: #353535;
};

.summary h2{
    margin-top: 0;
    font-size: 2rem;
}
